<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ambimax_PriceImport>
            <version>2.2.0</version>
        </Ambimax_PriceImport>
    </modules>
    <global>
        <helpers>
            <ambimax_priceimport>
                <class>Ambimax_PriceImport_Helper</class>
            </ambimax_priceimport>
        </helpers>
        <models>
            <ambimax_priceimport>
                <class>Ambimax_PriceImport_Model</class>
            </ambimax_priceimport>
        </models>
    </global>
    <default>
        <ambimax_priceimport>
            <options>
                <enabled>false</enabled>
                <cronjob>20 * * * *</cronjob>
                <additional_enabled>false</additional_enabled>
                <additional_cronjob>5 0 * * *</additional_cronjob>
            </options>
        </ambimax_priceimport>
    </default>
    <crontab>
        <jobs>
            <ambimax_price_import>
                <schedule>
                    <config_path>ambimax_priceimport/options/cronjob</config_path>
                </schedule>
                <run>
                    <model>ambimax_priceimport/observer::import</model>
                </run>
            </ambimax_price_import>
        </jobs>
    </crontab>

    <phpunit>
        <suite>
            <modules>
                <Ambimax_PriceImport/>
            </modules>
        </suite>
    </phpunit>

</config>